@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap');

* {
    font-family: Vazirmatn, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid #ddd;

}

.nav-menu a {
    margin-left: 24px;
    font-size: 16px;
    text-decoration: none;
    color: #111;
    transition: 0.2s;
}

.nav-menu a:hover {
    color: #005bff;
}

.hero {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    gap: 40px;
}

.hero-text h1 {
    font-size: 36px;
    color: #111;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.hero-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #005bff;
}

.btn-primary,
.btn-outline {
    display: inline-block;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 500;
}

.btn-primary {
    background: #005bff;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-outline {
    background: transparent;
    color: #005bff;
    padding: 12px 28px;
    border: 2px solid #005bff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-outline:hover {
    background: #005bff;
    color: #fff;
}

.about {
    padding: 80px 40px;
    text-align: right;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #111;
}

.about p {
    margin: 0 auto;
    font-size: 18px;
    line-height: 2;
    color: #444;
}

.skills {
    background-color: #fafafa;
    text-align: center;
    padding: 50px 0;
}

.skills h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.skill-card {
    width: 320px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px #dcdcdc;
}

.skill-card-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.skill-item {
    margin-bottom: 18px;
}

.skill-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress {
    width: 100%;
    height: 7px;
    background: #d8d8d8;
    border-radius: 5px;
}

.progress-fill {
    height: 100%;
    background: black;
    border-radius: 5px;
}


.bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.bar span {
    display: block;
    background-color: #000;
    height: 100%;
    border-radius: 5px;
}

.contact {
    padding: 60px 40px;
    text-align: center;
    background: #fafafa;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-card {
    flex: 1;
    background: #fff;
    border: 4px solid #e5e5e5;
    border-radius: 16px;
    padding: 20px;
}

.contact-card h3 {
    font-size: 18px;
    margin-bottom: 6px;
    color: #000;
}

.contact-card p {
    font-size: 15px;
    color: #444;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-top: 2px solid #e5e5e5;
    color: #444;
    font-size: 14px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 2px solid #e5e5e5;
    font-size: 16px;
    border-radius: 16px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.status-message {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media(max-width:600px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 140px;
    }

    .hero-img {
        order: -1;
    }

    .skills-row {
        flex-direction: column;
        gap: 24px;
    }

    .skills-card {
        text-align: right;
    }

    .contact-row {
        flex-direction: column;
        gap: 24px;
    }

    header {
        padding: 12px 20px;
    }

    .nav-menu a {
        margin: 12px;
    }
}